.o_account_reports_table{
    tr th {
        border:  1px solid black !important;
    }
    tr th {
        border: 1px solid black !important ;
    }
}
.o_account_reports_page {
    color: black !important;
    padding-bottom: 0!important;
    padding-top: 0!important;
    .o_account_reports_table {
        overflow-x: initial;
        border: 2px solid black !important;
        tr {
            border:  1px solid black !important;
        }
    }
}